.form-cell {
}

.form-cell--has-error .form-control {
  border-color: #d8656a;
}

.form-cell--has-error .form-checkbox {
}

.form-cell__error {
  margin-top: 7.5px;
  color: #6c261e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
