.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #24bccc;
  border-color: #18919e;
}

.btn-primary:hover {
  background-color: #1c94a1;
  border-color: #116872;
}

.btn-secondary {
  color: #fff;
  background-color: #56b6e4;
  border-color: #56b6e4;
}

.btn-secondary:hover {
  background-color: #2aa3dd;
  border-color: #2aa3dd;
}
